html(style=`padding: 0; ${backgroundColor === `#fff` ? `` : `background: ${backgroundColor}`};`)
  head
    meta(charset=`utf-8`)
    meta(name=`viewport`, content=`initial-scale=1, user-scalable=no`)
  body
    svg(
      width=`100%`,
      height=`100%`,
      viewbox=`0 0 ${safeAreaWidthVirtualPixels} ${safeAreaHeightVirtualPixels}`,
    )
      defs !{defs}
    script !{javascript}
