doctype html
html(style=`${backgroundColor === `#fff` ? `` : `background: ${backgroundColor}`}; overflow: hidden;`)
  head
    meta(name=`viewport`, content=`initial-scale=1, user-scalable=no`)
  body
    svg(
      style=`position: fixed; left: 0; top: 0; width: 100%; height: 100%;`
      viewbox=`0 0 ${safeAreaWidthVirtualPixels} ${safeAreaHeightVirtualPixels}`,
    )
      defs !{defs}
    script !{javascript}
